<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
          <img src="/assets/images/logo.PNG" alt="logo" style="width:170px; margin-left: 120PX;">
        </a>
        <!-- Links -->
        <ul class="navbar-nav" style="margin-left: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Who We Serve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Line of Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Capabilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Knowledge Center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
         </ul>
      </nav>

      
</header>
<div class="imgHeader app">
    <h2 style="padding:25px;"><i>The Contact Maintain Application</i></h2>
</div>
<router-outlet></router-outlet>
